
<button class="button buttonStyle1"
        routerLink="client"
        routerLinkActive="buttonStyle2">CLIENT</button>

<button class="button buttonStyle1"
        routerLink="product"
        routerLinkActive="buttonStyle2">PRODUCT</button>



<button class="button buttonStyle1"
        routerLink="provider"
        routerLinkActive="buttonStyle2">PROVIDER</button>



<div style="
  background-color:#009CBA; /* green */
  border: none;
  color: gray;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 12px;
  margin-right: 9px ;
  margin-top: 5px;
  font-family: sans-serif;
  font-size:100%
"> 
        <router-outlet></router-outlet>
</div>